@import 'variables';

h1 {
    font-size: 32px;
    color: $red_color;
}

h2 {
    color: green;
}

p {
    margin: 8px 0;
}

a {
    text-decoration: none;
}

.card-item {
    margin-top: 16px;
}

.course-information {
    text-align: center;
    background-color: #f3f3f3;
    padding: 16px;
    font-weight: bold;
    font-size: 1.2rem;

    button {
        margin: 16px 0;
        font-size: 1.4rem;
    }
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    .dropdown-item {
        padding: 8px 16px;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 1);
            color: #fff;
        }
    }

    .dropdown-divider {
        margin: 0;
    }
}

.user_avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.edit_icon,
.restore_icon{
    color: rgba($color: #ffae00, $alpha: 1.0);
    padding: 4px;
    font-size: 1.4rem;

    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}

.delete_icon{
    color: rgba($color: #ff0000, $alpha: 1.0);
    padding: 4px;
    font-size: 1.4rem;

    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}

.trash{
    float: right;
    color: #ff0000;

    &:hover{
        opacity: 0.5;
    }
}

.return_courses_list{
    &:hover{
        opacity: 0.5;
    }
}

//fix table resize
.index_table{
    width: 5%;
}

.name_course{
    width: 35%;
}

.level_course{
    width: 25%;
}

.created_time{
    width: 25%;
}

.action{
    width: 10%;
}


