<form method='POST' action='store'>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Tên khóa học</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='name'
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Mô tả</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='description'
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>VideoId</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='videoId'
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Trình độ</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='level'
        />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
</form>